body, html
{
    margin: 0; padding: 0; height: 100%; overflow: hidden;
}

#content
{
    position:absolute; left: 0; right: 0; bottom: 0; top: 0;
}
#optionsmenu
{
    position:absolute; left: 0; top: 0; z-index: 1; background-color: rgba(255, 255, 255, 0.90);padding-left: .2em; padding-top: .2em;padding-right: .6em; padding-bottom: .4em; border-bottom-right-radius: 0.6em;
}
